In [31]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata
import requests

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("analisi.transparenciacatalunya.cat", None)


# Example authenticated client (needed for non-public datasets):
client = Socrata(analisi.transparenciacatalunya.cat,
                 MyAppToken,
                 userame="user@example.com",
                 password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("nzvn-apee", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [59]:
Username = "AnaV"
Name = "Val"
pswrd="Senorita1!"

ClaveID = "cft391pul9r2zk7bai1ggrqcx"
ClaveSecreta = "2afxjmlc1cepgrcw6lcyxzl0nedd3acit59048s3zm5z14u6l7"

MyAppToken = "AIiNjkaTYcxeAniR5byrCpu90"
SecretAppToken= "CiOWvUPe0a3KvSH4qitvPEkCOdd8mng-z_FA"

Meteo = 'analisi.transparenciacatalunya.cat'

In [56]:
#Define Client
client = Socrata(Meteo,
                 MyAppToken,
                 Name,
                 pswrd)
#Senorita1!
#ana@ulyces.co

In [58]:
results = client.get("nzvn-apee", limit=100)

HTTPError: 403 Client Error: Forbidden.
	Authentication failed: Invalid username or password

In [43]:
results = client2.get("nzvn-apee", limit=10)
results_df = pd.DataFrame.from_records(results)
results_df.tail()

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [51]:
client2 =Socrata("analisi.transparenciacatalunya.cat", None)

qid = client2.get("nzvn-apee", limit=2000)
qid_df = pd.DataFrame.from_records(qid)
qid_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
id               2000 non-null object
codi_estacio     2000 non-null object
codi_variable    2000 non-null object
data_lectura     2000 non-null object
valor_lectura    2000 non-null object
codi_estat       2000 non-null object
codi_base        2000 non-null object
data_extrem      965 non-null object
dtypes: object(8)
memory usage: 125.1+ KB

In [53]:
qid_df.tail()

,id,codi_estacio,codi_variable,data_lectura,valor_lectura,codi_estat,codi_base,data_extrem
1995,Z2532107130200,Z2,53,2013-07-21T02:00:00.000,1.9,V,SH,2013-07-21T02:11:00.000
1996,Z2542107130200,Z2,54,2013-07-21T02:00:00.000,310,V,SH,NaN
1997,Z2362107130200,Z2,36,2013-07-21T02:00:00.000,0,V,SH,NaN
1998,Z2382107130200,Z2,38,2013-07-21T02:00:00.000,0,V,SH,NaN
1999,Z2352107130200,Z2,35,2013-07-21T02:00:00.000,0,V,SH,NaN

In [54]:
qid_df.data_lectura.value_counts()

2013-07-21T02:00:00.000    2000
Name: data_lectura, dtype: int64

In [ ]:
#https://analisi.transparenciacatalunya.cat/en/profile/edit/developer_settings
#https://dev.socrata.com/foundry/analisi.transparenciacatalunya.cat/nzvn-apee
#https://analisi.transparenciacatalunya.cat/es/Medi-Ambient/Metadades-estacions-meteorol-giques-autom-tiques/yqwd-vj5e
#https://analisi.transparenciacatalunya.cat/es/Medi-Ambient/Dades-meteorol-giques-de-la-XEMA/nzvn-apee

In [60]:
import requests
import pandas as pd
MYAPPTOKENHERE = 'AIiNjkaTYcxeAniR5byrCpu90'
api_url = 'http://analisi.transparenciacatalunya.cat/resource/nzvn-apee.json'
parameters = {"$limit": '5000',
              '$$app_token':MYAPPTOKENHERE}
response = requests.get(api_url ,params=parameters )
df = pd.read_json(response.text)

In [61]:
df.head()

,id,codi_estacio,codi_variable,data_lectura,valor_lectura,codi_estat,codi_base,data_extrem
0,DJ330612180130,DJ,33,2018-12-06T01:30:00.000,99.0,V,SH,NaN
1,DJ440612180130,DJ,44,2018-12-06T01:30:00.000,99.0,V,SH,2018-12-06T01:32:00.000
2,DJ030612180130,DJ,3,2018-12-06T01:30:00.000,99.0,V,SH,2018-12-06T01:56:00.000
3,DJ350612180130,DJ,35,2018-12-06T01:30:00.000,0.0,V,SH,NaN
4,DJ720612180130,DJ,72,2018-12-06T01:30:00.000,0.0,V,SH,2018-12-06T01:30:00.000

In [ ]:
api_url = 'http://analisi.transparenciacatalunya.cat/resource/nzvn-apee.json'
parameters = {"$limit": '5000',
              "codi_variable": '32',
              '$where': 'valor_lectura > 15',
              #'$where': 'hora(data_lectura) = 14:30',
              '$$app_token': YOURAPPTOKENHERE}
response = requests.get(api_url ,params=parameters )
response.url

In [ ]:
metadata= pd.read_csv('/')