In [31]:
# #!/usr/bin/env python

# # make sure to install these packages before running:
# # pip install pandas
# # pip install sodapy

# import pandas as pd
# from sodapy import Socrata
# import requests

# # Unauthenticated client only works with public data sets. Note 'None'
# # in place of application token, and no username or password:
# client = Socrata("analisi.transparenciacatalunya.cat", None)


# # Example authenticated client (needed for non-public datasets):
# client = Socrata(analisi.transparenciacatalunya.cat,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# # First 2000 results, returned as JSON from API / converted to Python list of
# # dictionaries by sodapy.
# results = client.get("nzvn-apee", limit=2000)

# # Convert to pandas DataFrame
# results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [59]:
# Username = "AnaV"
# Name = "Val"
# pswrd="Senorita1!"

# ClaveID = "cft391pul9r2zk7bai1ggrqcx"
# ClaveSecreta = "2afxjmlc1cepgrcw6lcyxzl0nedd3acit59048s3zm5z14u6l7"

# MyAppToken = "AIiNjkaTYcxeAniR5byrCpu90"
# SecretAppToken= "CiOWvUPe0a3KvSH4qitvPEkCOdd8mng-z_FA"

# Meteo = 'analisi.transparenciacatalunya.cat'

In [56]:
# #Define Client
# client = Socrata(Meteo,
#                  MyAppToken,
#                  Name,
#                  pswrd)
# #Senorita1!
# #ana@ulyces.co

# results = client2.get("nzvn-apee", limit=10)
# results_df = pd.DataFrame.from_records(results)
# results_df.tail()
# client2 =Socrata("analisi.transparenciacatalunya.cat", None)

# qid = client2.get("nzvn-apee", limit=2000)
# qid_df = pd.DataFrame.from_records(qid)
# qid_df.info()

In [ ]:
#https://analisi.transparenciacatalunya.cat/en/profile/edit/developer_settings
#https://dev.socrata.com/foundry/analisi.transparenciacatalunya.cat/nzvn-apee
#https://analisi.transparenciacatalunya.cat/es/Medi-Ambient/Metadades-estacions-meteorol-giques-autom-tiques/yqwd-vj5e
#https://analisi.transparenciacatalunya.cat/es/Medi-Ambient/Dades-meteorol-giques-de-la-XEMA/nzvn-apee
#https://www.meteo.cat/observacions/llistat-xema
#https://datos.gob.es/es/catalogo/a09002970-metadades-variables-meteorologiques


# XEMA hasta 1997, per meses. webscrapping vs. manual?
#https://www.meteo.cat/wpweb/climatologia/serveis-i-dades-climatiques/anuaris-de-dades-meteorologiques/xarxa-destacions-meteorologiques-automatiques/

In [1]:
import requests
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Explicación de las variables
variables = pd.read_csv('./Metadades_variables_meteorol_giques.csv')
variables.head()

variables.NOM_VARIABLE.value_counts()

#Explicación de las estaciones
mdata = pd.read_csv('./Metadades_estacions_meteorol_giques_autom_tiques.csv')
mdata.head()

,CODI_ESTACIO,NOM_ESTACIO,CODI_TIPUS,LATITUD,LONGITUD,Georeferència,EMPLACAMENT,ALTITUD,CODI_MUNICIPI,NOM_MUNICIPI,...,CODI_PROVINCIA,NOM_PROVINCIA,CODI_XARXA,NOM_XARXA,CODI_ESTAT,NOM_ESTAT,DATA_ALTA,DATA_BAIXA,LIMADM_MUNICIPI,LIMADM COMARCA
0,VY,Nulles,A,41.25095,1.29863,POINT (1.29863 41.25095),Cooperativa agrària,240.0,12,Nulles,...,43,Tarragona,1,XEMA,2,Operativa,09/18/2000 12:00:00 AM,NaN,375.0,30.0
1,YB,Olot,A,42.18813,2.47097,POINT (2.47097 42.18813),Pla de Dalt,433.0,443,Olot,...,17,Girona,1,XEMA,2,Operativa,07/21/2016 12:00:00 AM,NaN,294.0,10.0
2,X4,Barcelona - el Raval,A,41.38390,2.16775,POINT (2.16775 41.3839),Facultat de Geografia i Història. c. Montalegr...,33.0,332,Barcelona,...,8,Barcelona,1,XEMA,2,Operativa,10/11/2006 12:00:00 AM,NaN,512.0,29.0
3,YG,Tírvia,A,42.51881,1.24244,POINT (1.24244 42.51881),Heliport de Tírvia,954.0,634,Tírvia,...,25,Lleida,1,XEMA,2,Operativa,01/11/2018 12:00:00 AM,NaN,335.0,2.0
4,DD,Vilassar de Mar,A,41.51175,2.38674,POINT (2.38674 41.51175),"Soc.Civil d'Aigües ""La Mina Vella",44.5,513,Vilassar de Mar,...,8,Barcelona,1,XEMA,1,Desmantellada,05/04/1998 12:00:00 AM,01/16/2015 12:00:00 AM,522.0,25.0

In [3]:
mdata.head()

,CODI_ESTACIO,NOM_ESTACIO,CODI_TIPUS,LATITUD,LONGITUD,Georeferència,EMPLACAMENT,ALTITUD,CODI_MUNICIPI,NOM_MUNICIPI,...,CODI_PROVINCIA,NOM_PROVINCIA,CODI_XARXA,NOM_XARXA,CODI_ESTAT,NOM_ESTAT,DATA_ALTA,DATA_BAIXA,LIMADM_MUNICIPI,LIMADM COMARCA
0,VY,Nulles,A,41.25095,1.29863,POINT (1.29863 41.25095),Cooperativa agrària,240.0,12,Nulles,...,43,Tarragona,1,XEMA,2,Operativa,09/18/2000 12:00:00 AM,NaN,375.0,30.0
1,YB,Olot,A,42.18813,2.47097,POINT (2.47097 42.18813),Pla de Dalt,433.0,443,Olot,...,17,Girona,1,XEMA,2,Operativa,07/21/2016 12:00:00 AM,NaN,294.0,10.0
2,X4,Barcelona - el Raval,A,41.38390,2.16775,POINT (2.16775 41.3839),Facultat de Geografia i Història. c. Montalegr...,33.0,332,Barcelona,...,8,Barcelona,1,XEMA,2,Operativa,10/11/2006 12:00:00 AM,NaN,512.0,29.0
3,YG,Tírvia,A,42.51881,1.24244,POINT (1.24244 42.51881),Heliport de Tírvia,954.0,634,Tírvia,...,25,Lleida,1,XEMA,2,Operativa,01/11/2018 12:00:00 AM,NaN,335.0,2.0
4,DD,Vilassar de Mar,A,41.51175,2.38674,POINT (2.38674 41.51175),"Soc.Civil d'Aigües ""La Mina Vella",44.5,513,Vilassar de Mar,...,8,Barcelona,1,XEMA,1,Desmantellada,05/04/1998 12:00:00 AM,01/16/2015 12:00:00 AM,522.0,25.0

In [82]:
#Un dataset extra del 2018? 
series2018 = pd.read_csv('./llistat_series-climatiques-2018.csv')
series.head()

,Estació,Comarca,XUTM31 (m),YUTM31 (m),ZUTM31 (m),Codi Fitxer Temperatura Màx.,Codi Fitxer Temperatura Mín.,Codi Fitxer Precipitació
0,Valls,Alt Camp,354383,4572742,232,—,—,horrm503
1,Cadaqués,Alt Empordà,522741,4681973,10,—,—,horrm576
2,Figueres/Cabanes,Alt Empordà,496369,4684011,31,hotxm030,hotnm030,horrm030
3,Castellví de la Marca,Alt Penedès,384413,4575898,190,—,—,horrm580
4,St. Quintí/Canaletes,Alt Penedès,391013,4593647,325,—,—,horrm579

In [76]:
#Acceso a la API de XEMA
MYAPPTOKENHERE = 'AIiNjkaTYcxeAniR5byrCpu90'
api_url = 'http://analisi.transparenciacatalunya.cat/resource/nzvn-apee.json'

In [86]:
#Data goes until 2009

parameters = {"$limit": '500000',
              '$$app_token':MYAPPTOKENHERE,
              '$where': "data_lectura between '2009-01-01T00:00:00' and '2009-05-01T00:00:00'"}
#
response = requests.get(api_url ,params=parameters )
df = pd.read_json(response.text)
# df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 8 columns):
id               500000 non-null object
codi_estacio     500000 non-null object
codi_variable    500000 non-null int64
data_lectura     500000 non-null object
valor_lectura    500000 non-null float64
codi_estat       500000 non-null object
codi_base        500000 non-null object
data_extrem      214949 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 30.5+ MB

In [92]:
#How to get until certain hours of the day?
p2 =          {"$limit": '50000',
              '$$app_token':MYAPPTOKENHERE,
              '$where': "data_lectura between '2009-01-01T00:00:00' and '2009-05-01T00:00:00'"
              '$where': "date_extract_hh(data_lectura) is 1:00"}

response2 = requests.get(api_url ,params=parameters )
df2 = pd.read_json(response2.text)
df2.head()

SyntaxError: invalid syntax (<ipython-input-92-ae7ae53f9066>, line 5)

In [ ]:
api_url = 'http://analisi.transparenciacatalunya.cat/resource/nzvn-apee.json'
parameters = {"$limit": '5000',
              "codi_variable": '32',
              '$where': 'valor_lectura > 15',
              #'$where': 'hora(data_lectura) = 14:30',
              '$$app_token': YOURAPPTOKENHERE}
response = requests.get(api_url ,params=parameters )
response.url

In [3]:
metadata.head()

,NOM_ESTACIO,CODI_TIPUS,LATITUD,LONGITUD,Georeferència,EMPLACAMENT,ALTITUD,CODI_MUNICIPI,NOM_MUNICIPI,CODI_COMARCA,...,CODI_PROVINCIA,NOM_PROVINCIA,CODI_XARXA,NOM_XARXA,CODI_ESTAT,NOM_ESTAT,DATA_ALTA,DATA_BAIXA,LIMADM_MUNICIPI,LIMADM COMARCA
CODI_ESTACIO,,,,,,,,,,,,,,,,,,,,,
VY,Nulles,A,41.25095,1.29863,POINT (1.29863 41.25095),Cooperativa agrària,240.0,12,Nulles,1,...,43,Tarragona,1,XEMA,2,Operativa,09/18/2000 12:00:00 AM,NaN,375.0,30.0
YB,Olot,A,42.18813,2.47097,POINT (2.47097 42.18813),Pla de Dalt,433.0,443,Olot,19,...,17,Girona,1,XEMA,2,Operativa,07/21/2016 12:00:00 AM,NaN,294.0,10.0
X4,Barcelona - el Raval,A,41.38390,2.16775,POINT (2.16775 41.3839),Facultat de Geografia i Història. c. Montalegr...,33.0,332,Barcelona,13,...,8,Barcelona,1,XEMA,2,Operativa,10/11/2006 12:00:00 AM,NaN,512.0,29.0
YG,Tírvia,A,42.51881,1.24244,POINT (1.24244 42.51881),Heliport de Tírvia,954.0,634,Tírvia,26,...,25,Lleida,1,XEMA,2,Operativa,01/11/2018 12:00:00 AM,NaN,335.0,2.0
DD,Vilassar de Mar,A,41.51175,2.38674,POINT (2.38674 41.51175),"Soc.Civil d'Aigües ""La Mina Vella",44.5,513,Vilassar de Mar,21,...,8,Barcelona,1,XEMA,1,Desmantellada,05/04/1998 12:00:00 AM,01/16/2015 12:00:00 AM,522.0,25.0